@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h3 class="display-4">@ViewData["Title"]</h3>

<hr>
<p class="lead">Bu sitede bulunan tüm haklar <mark>Melih Can DEMİR</mark>'e aittir.</p>
<p class="lead">Sitemizdeki bilgilerin kullanımı sadece gizlilik politikamıza uygundur.</p>
<hr>